.checkout-containter {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.title-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 300px;
}